<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <link rel="icon" href="../../static/img/lips.ico">
    <title>LipsWeb</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">LipsWeb</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
          {% if user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Dash Board
                  <span class="sr-only">(current)</span>
              </li>
                {% if user.is_supervisor %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}" >Register user</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url '' %}" >Controversy Solving</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'ticket_capture' %}" >Typist</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
            </ul>
        </nav>
          {% block content %}
          {% endblock %}
    </div>
  </body>
</html>